html {
   overflow: visible;
}
body {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background:url('img/Photo 1.jpg')
}
.container {
    
    margin-top: 300px;
    border-right: 200px;
    border-left: 200px;
}
img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
    Z-index: -1;
}
h2{
    color:rgb(223, 210, 210);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input {
    border-radius: 50px;
    
}